h1,.h1 {
  border-bottom: none;
}

a,a:hover,a:focus,.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
}

.bs-masthead-links {
  margin-top: 0;
  text-align: center;
}

.btn-primary,
.btn-success {
  color: #fff;
  width: 160px;
  margin-right: 30px;
}

.bs-social-buttons li {
  padding: 0 4px;
}

.container {
  text-align: center;
}

.bs-masthead .lead {
  margin-right: 0;
}