/* Ideal for widescreen laptops and PC monitors */

@media (min-width: 1280px) {  
  .sidebar.affix-bottom,
  .sidebar.affix {
    width: 263px;
  }
  .masthead-links {
    text-align: center;
  }
}

/* Ideal for iPads and tablets */
@media (min-width: 768px) {

  .footer {
    padding: 2.6em 0;
  }
  .masthead-links {
    text-align: center;
    font-size: 13px;
  }
  .sidenav {
    display: none;
  }
  .masthead {
    text-align: left;
    padding-top:    140px;
    padding-bottom: 140px;
  }
  .masthead h1 {
    font-size: 76px;
  }
  .masthead .lead {
    margin-right: 0%;
    font-size: 30px;
  }
}


@media (min-width: 992px) {
  .header h1,
  .header p {
    margin-right: 380px;
  }

  .sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 213px;
  }
  .sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .sidebar.affix-bottom .sidenav,
  .sidebar.affix .sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

