/* Styles for widescreen 1280x800 (landscape), Ratio: 8:5 */

@media (min-width: 1280px) {
  .sidebar.affix-bottom,
  .sidebar.affix {
    width: 263px;
  }
}

/* Styles for tablets 768x1024 (portrait), Ratio: 3:4 */

@media (min-width: 768px) {

 
  .sidenav.affix {
    position: static;
    display: inline;
  }
}

/* Styles for mobile phones 320x480 (portrait), Ratio: 2:3  */

@media (min-width: 320px) {

  .sidenav.affix {
    position: static;
  }
  .navbar-nav {
    float: left;
    margin: 10px 0;
  }
  .navbar > .container .navbar-brand {
    margin-left: 0;
  }


  a#get-started.btn.btn-info.btn-lg {
    width: 124px;
    font-size: 12px;
    margin-right: 10px;
  }
  .btn-info {
    width: 124px;
    font-size: 12px;
    margin-right: 10px;
  }

  .btn-info:hover,
  .btn-info:focus,
  .btn-info:active {
    width: 124px;
    font-size: 12px;
    margin-right: 10px;
  }
}

/* Styles for Retina-type displays */
/*
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
}
*/
