article,aside,details,figcaption,figure,hgroup,main,section,summary,header,.bs-docs-nav,nav,.bs-docs-home,.bs-masthead,.navbar {
  background: url('http://s7.postimg.org/euigafzgb/image.png') #3b3b3d;
}

.bs-docs-nav {
  border: none;
  box-shadow: 0 1px 0 rgba(255,255,255,0.04);
}

.bs-docs-nav .navbar-nav > li > a {
  color: #fff;
  line-height: 0;
  margin-top: 0;
  text-shadow: none;
}

.navbar-nav > li {
  float: left;
  margin-top: 20px;
}

.navbar {
  border: none;
}

.btn-lg {
  font-size: 24px;
}

.page-header {
  border-bottom: none;
  margin: 0;
  padding-bottom: 0;
}

.bs-header p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.bs-header {
  background: url('http://s7.postimg.org/euigafzgb/image.png') #3b3b3d;
  color: #fff;
  padding: 30px 14px;
  text-shadow: none;
}

.bs-header h1 {
  border-bottom: none;
  font-size: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.bs-footer {
  background: transparent;
  border-top: 1px solid #eee;
  padding-top: 0;
}

.bs-footer a {
  color: #ccc;
  text-decoration: none;
}

.bs-masthead-links {
  text-align: left;
}

.bs-masthead h1 {
  font-size: 80px;
}

h1[id] {
  margin-top: 20px;
  padding-top: 30px;
}

h1,.h1 {
  font-size: 34px;
  margin-bottom: 10px;
  margin-top: 30px;
  padding-bottom: 10px;
}

h2,.h2 {
  border-bottom: 1px solid #eee;
  font-size: 26px;
  margin-bottom: 14px;
  padding-bottom: 10px;
  padding-top: 14px;
}

h3,.h3 {
  font-size: 18px;
  font-weight: 700;
  padding-top: 10px;
}

h4,.h4 {
  font-weight: 600;
  margin-top: 20px;
}

table code {
  font-size: 12px;
}

a:hover,a:focus {
  color: #2980b9;
  text-decoration: none;
}

code {
  background: #f9f0dc;
  color: #c0392b;
}

.bs-sidenav {
  background: #f4f4f4;
  text-shadow: none;
}

.bs-sidebar .nav > li > a {
  color: #777;
  display: block;
  padding: 4px 20px;
}

.bs-sidebar .nav > li > a:hover,.bs-sidebar .nav > li > a:focus {
  background: #e6e6e6;
  border-right: 1px solid #34495e;
  text-decoration: none;
}

blockquote p {
  color: #777;
  font-size: 13.5px;
}

ul,ol {
  margin-bottom: 14px;
}

.callout {
  background-color: #95a5a6;
  border-top: #fafafa;
  color: #fff;
}

.callout a {
  color: #a1d6ff;
  font-weight: 700;
}

.callout a:hover,.callout a:focus {
  color: #ecf0f1;
}

pre {
  background-color: #3d3f41;
  border: 1px solid #3d3f41;
  border-radius: 4px;
  color: #fff;
  font-size: 13.5px;
  line-height: 1.45;
  margin: 0 0 20px;
}

output pre {
  background-color: #f9f9f9;
  border: 1px solid #ecf0f1;
  border-radius: 4px;
  color: #7f8c8d;
  font-size: 13.5px;
  line-height: 1.45;
  margin: 0 0 20px;
}

.row .col-lg-6 h2 {
  border-bottom: none;
  color: #3b3b3d;
  font-size: 26px;
  font-weight: 500;
}

.row .col-lg-6 h2 a {
  color: #3b3b3d;
}

.table thead {
  background-color: #3b3b3d;
  border: 1px solid #3b3b3d;
}

.table thead > tr > th {
  border-color: #3b3b3d;
  color: #fff;
  text-align: center;
}

.navbar-nav > .active > a {
  background-color: transparent;
  border-radius: 6px;
}

.navbar-inverse .navbar-nav > .active > a,.navbar-inverse .navbar-nav > .active > a:hover,.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a {
  background-image: none;
}

.table-bordered > tbody > tr > th,.table-bordered > tbody > tr > td {
  border: 1px solid #ccc;
}

p {
  line-height: 1.45;
  margin-bottom: 20px;
}

.bs-docs-home,.bs-masthead .lead {
  color: #eee;
}

.lead,.row .col-lg-6 p a {
  font-size: 16px;
}

.row .col-lg-6 h2 a:hover,.row .col-lg-6 h2 a:focus,a {
  color: #1b84b5;
}

/*
* Flat UI Scheme
* -------------- 
* Blue          #2980b9   #34495e
* Blue-Green    #1abc9c   #16a085
* White         #fff      #eee
* Light Gray    #ccc
* Gray          #777      #3b3b3d   
* Dark Gray     #3b3b3d
*/