body {
	font-size: 1.438em;
}

article,aside,details,figcaption,figure,hgroup,main,section,summary,header,.bs-docs-nav,nav,.bs-docs-home,.bs-masthead,.navbar {
background:url(http://s23.postimg.org/pbjf0mbtn/image.png);
background-color:#222;
}

.bs-docs-nav {
border:none;
box-shadow:0 1px 0 rgba(255,255,255,0.05);
}

.bs-docs-nav .navbar-nav > li > a {
color:#fff;
line-height:0;
margin-top:0;
text-shadow:none;
}

.navbar-nav > li {
float:left;
margin-top:18px;
}

.navbar {
border:none;
}

.btn-lg {
font-size:24px;
}

.page-header {
border-bottom:none;
margin:0;
padding-bottom:0;
}

/* -- do not delete -- *
.bs-header {
background:url(http://s23.postimg.org/pbjf0mbtn/image.png);
background-color:#222;
color:#fff;
padding:30px 14px;
text-shadow:none;
}

.bs-header h1 {
border-bottom:none;
font-size:50px;
margin-bottom:0;
padding-bottom:0;
}

.bs-header p {
color:#fff;
font-size:24px;
font-weight:500;
}
-- */

.bs-header {
background:none;
background-color:#fff;
padding:50px 10px 10px;
text-shadow:none;
}

.bs-header h1 {
border-bottom:none;
color:#333;
font-size:50px;
margin-bottom:0;
padding-bottom:0;
}

.bs-header p {
color:#333;
font-size:24px;
font-weight:500;
}

.bs-footer {
border-top:1px solid #e3e3e3;
padding-top:0;
}

.bs-footer a {
color:#ccc;
text-decoration:none;
}

.bs-masthead-links {
text-align:center;
}

h1[id] {
margin-top:20px;
padding-top:30px;
}

h1,.h1 {
font-size:32px;
margin-bottom:10px;
margin-top:30px;
padding-bottom:10px;
}

h2,.h2 {
border-bottom:1px solid #e2e2e2;
font-size:26px;
margin-bottom:14px;
padding-bottom:10px;
padding-top:14px;
}

h3,.h3 {
font-size:18px;
font-weight:700;
padding-top:10px;
}

h4,.h4 {
font-weight:600;
margin-top:20px;
}

table code {
font-size:12px;
}

a {
color:#2980b9;
}

a:hover,a:focus {
color:#34495e;
text-decoration:none;
}

code {
background:#f9f0dc;
color:#c0392b;
}

.bs-sidenav {
background:#f2f2f2;
text-shadow:none;
}

.bs-sidebar .nav > li > a {
color:#777;
display:block;
padding:4px 20px;
}

.bs-sidebar .nav > li > a:hover,.bs-sidebar .nav > li > a:focus {
background:#e2e2e2;
border-right:1px solid #34495e;
text-decoration:none;
}

blockquote p {
color:#777;
font-size:13.5px;
}

ul,ol {
margin-bottom:14px;
}

.callout {
border-top:#f2f2f2;
color:#777;
background-color:none;
}

.callout a:hover,.callout a:focus {
color:#777;
font-weight:700;
border-bottom:1px dotted #777;
}

.callout a {
font-color:#77;
font-weight:700;
color:#777;
padding-bottom:2px;
}

pre {
background:#3d3f41;
border:#3d3f41 solid 1px;
border-radius:4px;
color:#fff;
font-size:13.5px;
line-height:1.45;
margin:0 0 20px;
}

output pre {
background:#f9f9f9;
border:#ecf0f1 solid 1px;
border-radius:4px;
color:#7f8c8d;
font-size:13.5px;
line-height:1.45;
margin:0 0 20px;
}

.row .col-lg-6 h2 {
border-bottom:none;
color:#222;
font-size:26px;
font-weight:500;
}

.row .col-lg-6 h2 a {
color:#222;
}

.table thead {
background:#222;
border:#222 solid 1px;
}

.table thead > tr > th {
border-color:#222;
color:#fff;
text-align:center;
}

.navbar-nav > .active > a {
border-radius:6px;
}

.table-bordered > tbody > tr > th,.table-bordered > tbody > tr > td {
border:#ccc solid 1px;
}

p {
line-height:1.45;
margin-bottom:20px;
}

.bs-docs-home {
color:#fff;
}

.bs-masthead .lead {
color:#f2f2f2;
margin-right:25%;
}

.lead,.row .col-lg-6 p a {
font-size:16px;
}

.row .col-lg-6 h2 a:hover,.row .col-lg-6 h2 a:focus,a {
color:#1b84b5;
}

.row .col-lg-6 p {
margin-bottom:6px;
margin-left:30px;
}

.navbar-inverse .navbar-nav > .active > a,.navbar-inverse .navbar-nav > .active > a:focus,.navbar-inverse .navbar-nav > .active > a:hover {
background-color:#16a085;
background-image:none;
box-shadow:none;
}

.navbar > .container .navbar-brand {
margin-left:0;
}

.navbar-nav {
float:right;
}

.btn-default {
margin-left:auto;
margin-right:auto;
width:129px;
text-shadow:none;
color:#777;
background-image: none;
background-repeat: repeat-x;
border-color: #e74c3c;
}

.btn-default:hover, .btn-default:focus {
border-color: #e74c3c;
background-color:#e74c3c;
color:#fff;
}

/*
* 	Green			#16a085
*	Blue 			#2980b9		#34495e
* 	Light Gray    	#f2f2f2		#e2e2e2   
* 	Medium Gray   	#ccc		#aaa
* 	Gray          	#777		#222
*/