# editorconfig.org 

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
translate_tabs_to_spaces = true
draw_white_space = all

[**.bat]
end_of_line = crlf

[**.rb]
indent_style = space
indent_size = 2
