# BASIC
# -----
_site
*.log
*.vi
*~
.#*
.githubsettings

# OS & EDITORS
# ------------
.DS_Store
Thumbs.db
.cache
tmp

# PROJECT
# -------
.grunt
node_modules
npm-debug.log
test/browser/less.js
test/sourcemaps/*.map
test/sourcemaps/*.css