h1,.h1 {
border-bottom:none;
margin-top:40px;
}

a,a:hover,a:focus,.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > li > a:focus {
color:#fff;
}

.btn-lg {
font-size:24px;
line-height:1.5;
padding:10px 0;
}

.btn-default {
background-color:#57ad68;
background-image:none;
border:#57ad68 solid 1px;
border-radius:6px;
box-shadow:none;
color:#fff;
font-family:'Gotham A', 'Gotham B', Helvetica, Arial, Sans-serif;
font-size:16px;
margin-bottom:20px;
margin-right:20px;
position:relative;
text-shadow:none;
text-transform:uppercase;
transition:background-color .3s ease-in-out;
width:160px;
}

.btn-default:hover,.btn-default:focus {
background-color:#468c54;
background-image:none;
border:#468c54 solid 1px;
border-radius:6px;
color:#fff;
font-family:'Gotham A', 'Gotham B', Helvetica, Arial, Sans-serif;
margin-bottom:20px;
margin-right:20px;
position:relative;
text-transform:uppercase;
width:160px;
}

.btn-success {
background-color:#57ad68;
background-image:none;
border:#57ad68 solid 1px;
border-radius:6px;
box-shadow:none;
color:#fff;
font-family:'Gotham A', 'Gotham B', Helvetica, Arial, Sans-serif;
font-size:16px;
margin-bottom:20px;
margin-right:20px;
position:relative;
text-shadow:none;
text-transform:uppercase;
transition:background-color .3s ease-in-out;
width:160px;
}

.btn-success:hover,.btn-success:focus {
background-color:#468c54;
background-image:none;
border:#468c54 solid 1px;
border-radius:6px;
color:#fff;
font-family:'Gotham A', 'Gotham B', Helvetica, Arial, Sans-serif;
margin-bottom:20px;
margin-right:20px;
position:relative;
text-transform:uppercase;
width:160px;
}

footer.container ul.bs-masthead-links {
cursor:pointer;
font-family:'Gotham SSm A', 'Gotham SSm B', helvetica, arial, sans-serif;
font-size:12px;
font-weight:500;
letter-spacing:-.1px;
margin-left:0;
margin-right:0;
margin-top:0;
text-transform:uppercase;
}

body {
font-size:13.5px;
}

.bs-masthead h1 {
font-family:"Myriad Pro", Helvetica, Arial, Sans-serif;
font-size:76px;
font-weight:900;
letter-spacing:-1px;
margin-bottom:0;
line-height: 1.3;
}

.bs-docs-nav {
border:none medium;
box-shadow:none;
height:74px;
}

.bs-masthead .lead {
font-family:"Myriad Pro", Helvetica, Arial, Sans-serif;
font-size:28px;

}

.lead {
margin-bottom:60px;
}

article,aside,body,details,figcaption,figure,hgroup,main,section,summary,footer,header,.bs-docs-nav,nav,.bs-docs-home,.bs-masthead,.navbar,.navbar-collapse {
background:#222;
}

.bs-docs-home {
background-image: url(public/ico/street.jpg);
}

.container,div.bs-buttons {
text-align:center;
}

.bs-header h1 {
border-bottom:medium none;
color:#333;
font-family:helvetica, arial, sans-serif;
font-size:54px;
font-weight:700;
margin-bottom:0;
padding-bottom:0;
text-transform:uppercase;
}