article,aside,details,figcaption,figure,hgroup,main,section,summary,header,.bs-docs-nav,nav,.bs-docs-home,.bs-masthead,.navbar {
background:url(http://s23.postimg.org/pbjf0mbtn/image.png);
background-color:#222;
}

.bs-docs-nav {
border:none;
box-shadow:0 1px 0 rgba(255,255,255,0.05);
}

.bs-docs-nav .navbar-nav>li>a {
color:#fff;
line-height:0;
margin-top:0;
text-shadow:none;
}

.navbar-nav>li {
float:left;
margin-top:18px;
}

.navbar {
border:none;
}

.btn-lg {
font-size:16px;
}

.page-header {
border-bottom:none;
margin:0;
padding-bottom:0;
}

.bs-header {
background:none;
background-color:#fff;
padding:40px 10px 20px;
text-shadow:none;
border-bottom:1px solid #f5f5f5;
}

.bs-header h1 {
border-bottom:none;
color:#333;
font-size:50px;
margin-bottom:0;
padding-bottom:0;
}

.bs-header p {
color:#333;
font-size:24px;
font-weight:500;
}

.bs-footer {
border-top:1px solid #f5f5f5;
background:#f5f5f5;
padding-top:0;
}

.bs-footer a {
color:#777;
text-decoration:none;
}

.bs-footer a:hover,.bs-footer a:focus {
color:#aaa;
text-decoration:none;
}

.bs-masthead-links {
text-align:center;
margin-left:0;
font-size: 14px;
}

h1[id] {
margin-top:20px;
padding-top:20px;
}

h1,.h1 {
font-size:32px;
margin-bottom:4px;
margin-top:14px;
padding-bottom:10px;
}

h2,.h2 {
border-bottom:1px solid #e5e5e5;
font-size:26px;
margin-bottom:10px;
padding-bottom:6px;
padding-top:20px;
}

h3,.h3 {
font-size:20px;
font-weight:700;
padding-top:10px;
}

h4,.h4 {
font-weight:600;
margin-top:20px;
}

table code {
font-size:12px;
}

a {
color:#0676cd;
}

a:hover,a:focus {
color:#34495e;
text-decoration:none;
}

code {
background:#f9f0dc;
color:#c0392b;
}

.bs-sidenav {
background:#f5f5f5;
text-shadow:none;
margin-top: 44px;
}

.bs-sidebar .nav>li>a {
color:#777;
display:block;
padding:4px 20px;
}

.bs-sidebar .nav>li>a:hover,.bs-sidebar .nav>li>a:focus {
background:#e5e5e5;
border-right:1px solid #34495e;
text-decoration:none;
}

blockquote p {
color:#777;
font-size:13.5px;
}

ul,ol {
margin-bottom:14px;
}

.callout {
border-top:#f5f5f5;
color:#777;
background-color:none;
}

.callout a:hover,.callout a:focus {
color:#777;
font-weight:700;
border-bottom:1px dotted #777;
}

.callout a {
font-color:#77;
font-weight:700;
color:#777;
padding-bottom:2px;
}

pre {
background:#3d3f41;
border:#3d3f41 solid 1px;
border-radius:4px;
color:#fff;
font-size:13.5px;
line-height:1.45;
margin:10px 0 20px;
}

output pre {
background:#f9f9f9;
border:#e5e5e5 solid 1px;
border-radius:4px;
color:#777;
font-size:13.5px;
line-height:1.45;
margin:0 0 20px;
}

.row .col-lg-6 h2 {
border-bottom:none;
color:#222;
font-size:25px;
font-weight:500;
}

.row .col-lg-6 h2 a {
color:#222;
}

.table thead {
background:#4c4c4c;
border:#4c4c4c solid 1px;
}

.table thead>tr>th {
border-color:#4c4c4c;
color:#fff;
text-align:center;
}

.navbar-nav>.active>a {
border-radius:4px;
}

.table-bordered>tbody>tr>th,.table-bordered>tbody>tr>td {
border:#ccc solid 1px;
}

p {
line-height:1.45;
margin-bottom:20px;
}

.bs-docs-home {
color:#fff;
}

.bs-masthead .lead {
color:#fff;
margin-right: 0;
}

.lead,.row .col-lg-6 p a {
font-size:16px;
}

.row .col-lg-6 h2 a:hover,.row .col-lg-6 h2 a:focus,a {
color:#1b84b5;
}

.row .col-lg-6 p {
margin-bottom:6px;
margin-left:30px;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover {
background-color:#222;
background-image:none;
box-shadow:none;
}

.navbar>.container .navbar-brand {
margin-left:0;
}

.navbar-nav {
float:right;
font-size: 14px;
}

.btn-default {
width:100px;
text-shadow:none;
background-image:none;
background-repeat:no-repeat;
border-radius:4px;
font-size:18px;
}

.btn-default:hover, .btn-default:focus {
opacity:.8;
}

.bs-sidenav-buttons {
margin-right:auto;
margin-left:auto;
width:254px;
}

div#component-table.table-responsive {
width:65%;
}

#watch {
display:none;
}

.bs-sidenav {
width: 21%;
float: left;
min-width: 260px;
font-size: 14px;
}

.bs-sidenav ul {
list-style: none;
}

.bs-sidenav li {
margin: 0 0 1px;
}

.bs-sidenav li a {
display: block;
color: #fcfcfc;
padding: 15px 20px;
background-color: transparent;
position: relative;
}

.bs-sidenav li.selected a,.bs-sidenav li a:hover {
background-color: #00ADF5;
}

.bs-sidenav li.selected a:before,.bs-sidenav li a:hover:before {
content: '→';
top: 50%;
right: 20px;
position: absolute;
width: 14px;
height: 23px;
background-position: -230px 0;
display: block;
margin-top: -11px;
}

.bs-sidenav ul {
zoom: 1;
}

.bs-sidenav ul:before,.bs-sidenav ul:after {
content: "";
display: table;
}

.bs-sidenav ul:after {
clear: both;
}

.navbar-form {
margin-top: -100px;
}

.pager>.next>a, .pager>.disabled>a, .pager>.previous>a {
padding:6px;
width: 100px;
float:none;
}

.bs-docs-nav .navbar-toggle {
border-color:#fff;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background: #aaa;
}

.bs-docs-nav .navbar-collapse {
border-color: #aaa;
}

.bs-sidebar .nav > .active > a, .bs-sidebar .nav > .active:hover > a, .bs-sidebar .nav > .active:focus > a {
    font-weight: 700;
    color: #222;
    background-color: transparent;
    border-right: 1px solid #222;
}