h1,.h1 {
border-bottom:none;
margin-top:40px
}

a,a:hover,a:focus,.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus {
color:#fff
}

a:hover,a:focus {
opacity:.7
}

.bs-masthead-links {
margin-right:0;
margin-top:0;
padding:3px;
text-align:center
}

.btn-lg {
font-size:24px;
line-height:1.5;
padding:10px 0
}

.btn-default {
background-color:#fff;
background-image:none;
border:1px solid #fff;
border-radius:50px;
box-shadow:none;
color:#222;
margin-bottom:20px;
margin-right:20px;
text-shadow:none;
width:160px
}

.btn-default:hover,.btn-default:focus {
background-color:#fff;
background-image:none;
border:1px solid #fff;
border-radius:50px;
color:#ccc;
margin-bottom:20px;
margin-right:20px;
opacity:.8;
width:160px
}

.btn-success {
background-color:#16a085;
background-image:none;
border:1px solid #16a085;
border-radius:50px;
box-shadow:none;
margin-bottom:20px;
margin-right:14px;
text-shadow:none;
width:160px
}

.btn-success:hover,.btn-success:focus {
background-color:#16a085;
background-image:none;
border:1px solid #16a085;
border-radius:50px;
color:#ccc;
margin-bottom:20px;
margin-right:14px;
opacity:.95;
width:160px
}

#watch {
display:block;
font-weight:700;
margin:0 auto 20px;
overflow:hidden;
width:306px
}

#watch section {
float:left;
margin-bottom:0;
width:153px
}

#watch a {
color:#fff;
opacity:1;
padding-left:25px
}

#watch a:hover {
opacity:0.8
}

#stargazers a {
background:url(http://s14.postimg.org/ab95j0zfh/icon_stargazer.png) left center no-repeat;
padding-right:25px
}

#twitter a {
background:url(http://s10.postimg.org/t5xz11xut/icon_twitter.png) left center no-repeat
}

footer.container ul.bs-masthead-links {
cursor:pointer;
font-family:'Gotham SSm A','Gotham SSm B',helvetica,arial,sans-serif;
font-size:12px;
font-weight:500;
margin-left:0;
margin-right:0;
margin-top:0;
opacity:1;
text-transform:uppercase;
letter-spacing: -.1px;
}

body {
font-size:13.5px
}

.bs-masthead h1 {
font-family: 'source sans pro','Gotham A','Gotham B', helvetica,arial,sans-serif;
font-size:80px;
font-weight:900;
letter-spacing:11px;
text-transform:uppercase;
margin-bottom:14px;
}

.bs-docs-nav {
border:medium none;
box-shadow:none;
height: 74px;
}

.bs-masthead .lead {
font-size:24px;
line-height:1
}

.navbar-nav {
cursor:pointer;
font-family:'source sans pro','Gotham SSm A','Gotham SSm B',helvetica,arial,sans-serif;
font-size:11px;
font-weight:500;
opacity:1;
text-transform:uppercase;
}

.lead {
margin-bottom:60px
}

.navbar > .container .navbar-brand {
margin-left:96px;
margin-right:20px;
margin-top:4px;
opacity:1
}

article,aside,body,details,figcaption,figure,hgroup,main,section,summary,footer,header,.bs-docs-nav,nav,.bs-docs-home,.bs-masthead,.navbar,.navbar-collapse {
background:rgb(34,30,30)
}

.container,div.bs-buttons {
text-align:center
}

/* -- Latest change -- */

.navbar-nav {
    cursor: pointer;
    font-family: 'Gotham SSm A','Gotham SSm B',helvetica,arial,sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -.1px;
}

.navbar-nav > li {
    margin-top: 22px;
}

.bs-header h1 {
    border-bottom: medium none;
    color: rgb(51, 51, 51);
    font-size: 54px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: 'Montserrat',helvetica,arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}