h1,.h1 {
border-bottom:none;
}

a,a:hover,a:focus,.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-nav>li>a:focus {
color:#fff;
}

a:hover, a:focus {
opacity:.8;
}

.bs-masthead-links {
margin-top:0;
text-align:center;
margin-right:0;
}

.btn-lg {
padding:10px 0;
line-height: 1.5;
}

.btn-default {
background-color:#fff;
background-image:none;
border:1px solid #fff;
border-radius:50px;
color:#222;
margin-bottom:20px;
margin-right:20px;
width:160px;
text-shadow:none;
box-shadow:none;
}

.btn-default:hover,.btn-default:focus {
background-color:#fff;
background-image:none;
border:1px solid #fff;
border-radius:50px;
color:#ccc;
margin-bottom:20px;
margin-right:20px;
opacity:.8;
width:160px;
}

.btn-success {
background-color:#16a085;
background-image:none;
border:1px solid #16a085;
border-radius:50px;
margin-bottom:20px;
margin-right:14px;
width:160px;
text-shadow:none;
box-shadow:none;
}

.btn-success:hover, .btn-success:focus {
background-color:#16a085;
background-image:none;
border:1px solid #16a085;
border-radius:50px;
margin-bottom:20px;
margin-right:14px;
color:#ccc;
opacity:.95;
width:160px;
}

.btn-lg {
font-size:24px;
}

.container {
text-align:center;
}

#watch {
display:block;
font-weight:700;
margin:0 auto 20px;
overflow:hidden;
width:306px;
}

#watch section {
float:left;
margin-bottom:0;
width:153px;
}

#watch a {
color:#fff;
opacity:1;
padding-left:25px;
}

#watch a:hover {
opacity:0.8;
}

#stargazers a {
background:url(http://s14.postimg.org/ab95j0zfh/icon_stargazer.png) left center no-repeat;
padding-right:25px;
}

#twitter a {
background:url(http://s10.postimg.org/t5xz11xut/icon_twitter.png) left center no-repeat;
}

footer.container ul.bs-masthead-links {
margin-left:0;
margin-top:0;
margin-right:0;
font-size:14px;
}

div.bs-buttons {
text-align:center;
}

body {
font-size:13.5px;
}

/*-- The start of new script --*/

.bs-masthead h1 {
    font-size: 94px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 6px;
    font-family: 'Gotham A', 'Gotham B', sans-serif;
}

.bs-docs-nav {
    border: medium none;
    box-shadow: none;
}

.bs-masthead .lead {
    font-size: 30px;
    line-height:1;
}

.navbar-nav {
text-transform: uppercase;
font-weight: 500;
opacity: 1;
cursor: pointer;
transition-property: opacity;
transition-duration: 0.1s;
transition-timing-function: ease-out;
font-size: 13px;
font-family: 'Gotham SSm A','Gotham SSm B',sans-serif;
}

.lead {
margin-bottom:60px;
}

.navbar > .container .navbar-brand {
    margin-right: 20px;
    margin-left: 20px;
}

.navbar > .container .navbar-brand {
    margin-left: 1px;
    opacity:.7;
}

article,aside,details,figcaption,figure,hgroup,main,section,summary,footer,header,.bs-docs-nav,nav,.bs-docs-home,.bs-masthead,.navbar {
background:rgba(34,30,29,0.9);
}

footer.container ul.bs-masthead-links {
font-family: 'Gotham SSm A','Gotham SSm B',sans-serif;
text-transform: uppercase;
font-weight: 500;
opacity: 1;
cursor: pointer;
transition-property: opacity;
transition-duration: 0.1s;
transition-timing-function: ease-out;
font-size: 13px;
}

.bs-masthead-links {
padding:3px;
}

h1, .h1 {
    margin-top: 60px;
}