<div class="callout">
  
  {% if page.slug == "getting-havana" %}
        
    <p><a href="{{ page.baseurl }}getting-grizzly">Trying to find the Grizzly stuff?</a> We have separate guides for each release. This is the guide for Havana. <a href="{{ page.baseurl }}getting-grizzly">The guide for Grizzly is available here.</a></p>
    
  {% elsif page.slug == "getting-grizzly" %}
    
    <p><a href="{{ page.baseurl }}getting-havana">Trying to find the Havana stuff?</a> We have separate guides for each release. This is the guide for Grizzly. <a href="{{ page.baseurl }}getting-havana">The guide for Havana is available here.</a></p>
    
  {% endif %}  

</div>