<div class="callout">
  <div class="container">
  
    {% if page.tag == "havana" %}
        
      <strong><a href="{{ page.baseurl }}getting-grizzly">Trying to find the Grizzly stuff?</a></strong> We have separate guides for each release. You are viewing the guide for Havana. <a href="{{ page.baseurl }}getting-grizzly">The guide for Grizzly is available here.</a>
    
    {% elsif page.title == "grizzly" %}
        
      <strong><a href="{{ page.baseurl }}getting-havana">Trying to find the Havana stuff?</a></strong> We have separate guides for each release. You are viewing the guide for Grizzly. <a href="{{ page.baseurl }}getting-havana">The guide for Havana is available here.</a>
    
    {% endif %}  

  </div>
</div>