<div class="callout">
  
    {% if page.slug == "getting-havana" %}
        
      <p><strong><a href="{{ page.baseurl }}getting-grizzly">Trying to find the Grizzly stuff?</a></strong> We have separate guides for each release. You are viewing the guide for Havana. <a href="{{ page.baseurl }}getting-grizzly">The guide for Grizzly is available here.</a></p>
    
    {% elsif page.slug == "getting-grizzly" %}
        
      <p><strong><a href="{{ page.baseurl }}getting-havana">Trying to find the Havana stuff?</a></strong> We have separate guides for each release. You are viewing the guide for Grizzly. <a href="{{ page.baseurl }}getting-havana">The guide for Havana is available here.</a></p>
    
    {% endif %}  

</div>