<h2 id="coding_standards">Coding Standards</h2>
<ul>
	<li>We appreciate the use of professional code quality standards</li>
	<li>Keep code simple and clean</li>
	<li>Follow the widely accepted and reasonable Ruby coding standards</li>
		<ul>
			<li>Line length capped at 80 characters</li>
			<li>Hash indices use " instead of '</li>
			<li>String delimiters use " instead of ' when evaluation and escaping are not necessary</li>
			<li>Align parameters of long function/method calls</li>
			<li>Newlines at end of files</li>
			<li>2-space indentation, no tabs</li>
			<li>Full list of standards available on [GitHub](https://github.com/styleguide/ruby) and [TomDoc](http://tomdoc.org)</li>
		</ul>
	<li>Use the correct letter case for syntax, products, and branding (e.g. SoftLayer, OpenStack, Swift, etc.)</li>
	<li>Make indentation consistent</li>
	<li>Remove trailing whitespace</li>
</ul>