<h2 id="coding_standards">Coding Standards</h2>
<ul>
	<li>We appreciate the use of professional code quality standards</li>
	<li>Keep code simple and clean</li>
	<li>Follow the widely accepted and reasonable Ruby coding standards</li>
		<ul>
			<li>Line length capped at <strong>80 characters</strong></li>
			<li>Hash indices use <code>"</code> instead of <code>'</code></li>
			<li>String delimiters use <code>"</code> instead of <code>'</code> when evaluation and escaping are not necessary</li>
			<li>Align parameters of long function/method calls</li>
			<li>Newlines at end of files</li>
			<li>2-space indentation, no tabs</li>
			<li>Full list of standards available on <a href="https://github.com/styleguide/ruby">GitHub</a> and <a href="http://tomdoc.org">TomDoc</a></li>
		</ul>
	<li>Use the correct letter case for syntax, products, and branding (e.g. SoftLayer, OpenStack, Swift, etc.)</li>
	<li>Make indentation consistent</li>
	<li>Remove trailing whitespace</li>
</ul>