<!-- Core JS -->
  <script src="{{ page.baseurl }}assets/js/jquery.min.js"></script>
  <script src="{{ page.baseurl }}assets/js/bootstrap.min.js"></script>
  <script src="{{ page.baseurl }}assets/js/scrollspy.min.js"></script>
  <script src="{{ page.baseurl }}assets/js/affix.min.js"></script>
  <script src="{{ page.baseurl }}assets/js/holder.min.js"></script>
  <script src="{{ page.baseurl }}assets/js/application.min.js"></script>
  <script src="{{ page.baseurl }}assets/js/custom.modernizr.min.js"></script>
  <script src="{{ page.baseurl }}assets/js/zepto.min.js"></script>

<!-- Side Menu -->
  <script>
      $("#menu-close").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
  </script>
  <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
  </script>
  <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
              || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

<!-- Version Selector -->
  <script>
      $('#version-selector').on('show.bs.dropdown', function () {
      })
  </script>

<!-- Google Analytics -->
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40037365-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<div class="bs-masthead-links">
  <a href="{{ site.www }}" target="_blank">© 2013 SoftLayer Technologies, Inc.</a> &middot;
  <a href="https://github.com/softlayer/chef-openstack/blob/gh-pages/LICENSE" target="_blank">License</a> &middot;
  <a href="{{ site.sldn }}" target="_blank">Development Network</a> &middot; 
  <a href="{{ site.portal }}" target="_blank">Portal</a>
  <span class="pull-right hidden-sm"><a href="#">Back to top</a></span></p>
</div>
