<!-- CORE JS -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="{{ page.base_url }}assets/js/jquery.js"></script>
<script src="{{ page.base_url }}assets/js/bootstrap.min.js"></script>
<script src="{{ page.base_url }}assets/js/holder.js"></script>
<script src="{{ page.base_url }}assets/js/application.js"></script> 
<script src="http://platform.twitter.com/widgets.js"></script>

<ul class="bs-masthead-links">
    <li><a href="{{ site.www }}" target="_blank">© 2013 SoftLayer Technologies, Inc. All rights reserved.</a></li>
    <li><a href="{{ site.repo }}/blob/master/LICENSE" target="_blank">MIT License</a></li>
    <li><a href="{{ site.sldn }}" target="_blank">Development Network</a></li>
    <li><a href="{{ site.portal }}" target="_blank">Portal Login</a></li>
    <li class="github-logo"><a href="http://github.com/softlayer"><img src="{{ page.base_url }}assets/img/github-gray.png" width="42px" height="42px"></a>
</ul>
