<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="icon-reorder"></i></a>
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="icon-remove"></i></a>
      
      <li class="sidebar-brand"><a href="{{ page.baseurl }}">Home</a></li>
      <li {% if page.slug == "getting-started" %} class="active" {% endif %}><a href="{{ page.baseurl }}havana-getting-started">Getting Started</a></li>
      <li {% if page.slug == "release-notes" %} class="active" {% endif %}><a href="{{ page.baseurl }}release-notes">Release Notes</a></li>
      <li {% if page.slug == "planning" %} class="active" {% endif %}><a href="{{ page.baseurl }}planning">What's Next</a></li>
      <li {% if page.slug == "contributing" %} class="active" {% endif %}><a href="{{ page.baseurl }}contributing">Contributing</a></li>
    </ul>
  </div>