<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><img src="{{ page.baseurl }}content/images/icon42x42.jpg"></a>
<!--<i class="icon-reorder"></i></a>-->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="icon-remove"></i></a>
        <li {% if page.slug == "getting-havana" %} class="active" {% endif %}><a href="{{ page.baseurl }}getting-havana">Getting Started</a></li>
        <li {% if page.slug == "release-notes" %} class="active" {% endif %}><a href="{{ page.baseurl }}release-notes">Release Notes</a></li>
        <li {% if page.slug == "contributing" %} class="active" {% endif %}><a href="{{ page.baseurl }}contributing">Contributing</a></li>
        <li class="sidebar-brand"><a href="{{ site.repo }}">Code</a></li>
        <li><a href="{{ site.repo }}/releases">Releases</a></li>
    </ul>
  </div>