<li>
  <a href="#about_chef_and_openstack">About Chef and OpenStack</a>
  <ul class="nav">
    <li><a href="#about_chef">About Chef</a></li>
    <li><a href="#about_openstack">About OpenStack</a></li>
  </ul>
</li>
<li><a href="#requirements">Requirements</a>
  <ul class="nav">
    <li><a href="#node_requirements">Node Requirements</a></li>
    <li><a href="#software_requirements">Software Requirements</a></li>
    <li><a href="#networking_requirements">Networking Requirements</a></li>
  </ul>
</li>
<li><a href="#installation">Installation</a>
  <ul class="nav">
    <li><a href="#install_chef">Install Chef</a></li>
    <li><a href="#install_openstack">Install OpenStack</a></li>
    <li><a href="#prepare_chef">Prepare Chef</a></li>
    <li><a href="#bootstrap_your_nodes">Bootstrap Your Nodes</a></li>
    <li><a href="#configure_chef">Configure Chef</a></li>
    <li><a href="#chef_your_nodes">Chef Your Nodes</a></li>
  </ul>
</li>
<li><a href="#using_openstack">Using OpenStack</a>
  <ul class="nav">
    <li><a href="#using_your_private_cloud">Using Your Private Cloud</a></li>
    <li><a href="#our_devops_tools">Our DevOps Tools</a></li>
    <li><a href="#scaling_and_branching_deployments">Scaling/Branching Deployments</a></li>
  </ul>
</li>
<li><a href="#testing_openstack">Testing OpenStack</a>
  <ul class="nav">
    <li><a href="#test_connectivity">Test Connectivity</a></li>
    <li><a href="#test_your_install">Test Your Install</a></li>
  </ul>
</li>
<li><a href="#allinone_sandbox">All-in-One Sandbox</a>
  <ul class="nav">
    <li><a href="#create_your_own_sandbox">Create Your Own Sandbox</a></li>
    <li><a href="#introduction_to_vagrant">Introduction to Vagrant</a></li>
    <li><a href="#installation_process">Installation Process</a></li>
  </ul>
</li>
<li><a href="#openstack_use_scenario">Use Scenario</a>
  <ul class="nav">
    <li><a href="#softcube">SoftCube</a></li>
  </ul>
</li>
<li><a href="#finding_support_for_openstack">Find Support</a>
  <ul class="nav">
    <li><a href="#technical_resources">Technical Resources</a></li>
    <li><a href="#definitions_for_components">Definitions for Components</a></li>
    <li><a href="#definitions_for_terms">Definitions for Terms</a></li>
  </ul>
</li>