<li><a href="{{ page.baseurl }}grizzly-chef-openstack">About Chef and OpenStack</a></li>
<li><a href="{{ page.baseurl }}grizzly-requirements">Requirements</a></li>
<li><a href="{{ page.baseurl }}grizzly-install">Installation</a></li>
<li><a href="{{ page.baseurl }}grizzly-start-openstack">Start Using OpenStack</a></li>
<li><a href="{{ page.baseurl }}grizzly-testing-openstack">Testing OpenStack</a></li>
<li><a href="{{ page.baseurl }}grizzly-sandbox">All-in-One Sandbox</a></li>
<li><a href="{{ page.baseurl }}grizzly-use-scenario">Use Scenario</a></li>
<li><a href="{{ page.baseurl }}grizzly-support">Find Support</a></li>