<li><a href="{{ page.baseurl }}havana-chef-openstack">About Chef and OpenStack</a></li>
<li><a href="{{ page.baseurl }}havana-requirements">Requirements</a></li>
<li><a href="{{ page.baseurl }}havana-install">Installation</a></li>
<li><a href="{{ page.baseurl }}havana-start-openstack">Start Using OpenStack</a></li>
<li><a href="{{ page.baseurl }}havana-testing-openstack">Testing OpenStack</a></li>
<li><a href="{{ page.baseurl }}havana-sandbox">All-in-One Sandbox</a></li>
<li><a href="{{ page.baseurl }}havana-use-scenario">Use Scenario</a></li>
<li><a href="{{ page.baseurl }}havana-support">Find Support</a></li>