<div class="bs-social">
<ul class="bs-social-buttons">
  <li>
    <iframe src="http://ghbtns.com/github-btn.html?user=softlayer&amp;repo=chef-openstack&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
  </li>
  <li>
    <iframe src="http://ghbtns.com/github-btn.html?user=softlayer&amp;repo=chef-openstack&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
  </li>
  <li>
    <a href="{{ site.twitter }}" class="twitter-follow-button" data-show-count="true">Follow @SoftLayerDev</a>
      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
  </li>
  <li>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.repo }}" data-text="Check out what SoftLayer did. It's kind of a big deal." data-via="SoftLayerDev" data-hashtags="opensource,softlayer">Tweet</a>
      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
  </li>
</ul>
</div>
