<div class="bs-social">
<ul class="bs-social-buttons">
  <li>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.repo }}" data-text="Check out what SoftLayer did. It's kind of a big deal." data-via="SoftLayerLabs" data-hashtags="opensource,softlayer">Tweet</a>

      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
  </li>
  <li>
      <iframe class="github-btn" src="{{ site.star }}" width="107" height="20" title="Star on GitHub"></iframe>
  </li>
  <li>
      <iframe class="github-btn" src="{{ site.fork }}" width="107" height="20" title="Fork on GitHub"></iframe>
  </li>
  <li>
      <a href="{{ site.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @SoftLayerLabs</a>
      
      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
  </li>
</ul>
</div>
