<h2 id="standards">Coding Standards</h2>

  <ul>
    <li>We appreciate the use of professional code quality standards</li>
    <li>Keep code simple and clean</li>
    <li>Follow the widely accepted and reasonable Ruby coding standards

      <ul>
        <li>Line length capped at 80 characters</li>
        <li>Hash indices use &#8216; instead of &#8220;</li>
        <li>String delimiters use &#8216; instead of &#8220; when evaluation and escaping are not necessary</li>
        <li>Align parameters of long function/method calls</li>
        <li>Newlines at end of files</li>
        <li>2-space indentation, no tabs</li>
        <li>Full list of standards available on <a href="https://github.com/styleguide/ruby" target="_blank">GitHub</a> and <a href="http://tomdoc.org" target="_blank">TomDoc</a></li>
      </ul>
    </li>
    <li>Use the correct letter case for syntax, products, and branding (e.g. SoftLayer, OpenStack, component names, etc.)</li>
    <li>Make indentation consistent</li>
    <li>Remove trailing whitespace</li>
  </ul>