<div class="bs-docs-section">
  {% if page.tag == "Grizzly" %}
    <h1 id="getting-started">Getting Started (Grizzly)</h1>
  {% elsif page.tag == "Havana" %}
    <h1 id="getting-started">Getting Started (Havana)</h1>
  {% endif %}

  <p>Our guide provides an overview for installing, configuring, deploying, and supporting OpenStack and Chef. Simply click any topic and
  get started.</p>

  <div class="row">
    <div class="col-12 col-lg-6">
      <h2><a href="#about">About Chef and OpenStack</a></h2>
      <p><a href="#about-chef">About Chef</a></p>
      <p><a href="#about-openstack">About OpenStack</a></p>
    </div>

    <div class="col-12 col-lg-6">
      <h2><a href="#requirements">Requirements</a></h2>
      <p><a href="#node-requirements">Node Requirements</a></p>
      <p><a href="#software-requirements">Software Requirements</a></p>
      <p><a href="#networking-requirements">Networking Requirements</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <h2><a href="#install">Installation</a></h2>
      <p><a href="#install-chef">Install Chef</a></p>
      <p><a href="#install-openstack">Install OpenStack</a></p>
      <p><a href="#install-bootstrap-nodes">Bootstrap Your Nodes</a></p>
      <p><a href="#install-chef-nodes">Chef Your Nodes</a></p>
    </div>

    <div class="col-12 col-lg-6">
      <h2><a href="#using">Using OpenStack</a></h2>
      <p><a href="#using-private-cloud">Using Your Private Cloud</a></p>
      <p><a href="#using-our-tools">Using Our DevOps Tools</a></p>
      <p><a href="#using-deployments">Scaling and Branching Deployments</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <h2><a href="#test">Testing OpenStack</a></h2>
      <p><a href="#test-connectivity">Test Connectivity</a></p>
      <p><a href="#test-your-install">Test Your Install</a></p>
    </div>

    <div class="col-12 col-lg-6">
      <h2><a href="#sandbox">All-in-One Sandbox</a></h2>
      <p><a href="#sandbox-creation">Create Your Own Sandbox</a></p>
      <p><a href="#sandbox-vagrant">Introduction to Vagrant</a></p>
      <p><a href="#sandbox-install-process">Installation Process</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <h2><a href="#scenario">Use Scenario</a></h2>
      <p><a href="#scenario-softcube">SoftCube</a></p>
    </div>

    <div class="col-12 col-lg-6">
      <h2><a href="#support">Find Support</a></h2>
      <p><a href="#support-resources">Technical Resources</a></p>
      <p><a href="#support-components">Definitions for Components</a></p>
      <p><a href="#support-terms">Definitions for Terms</a></p>
    </div>
  </div>
</div>