{% if page.slug == "getting-grizzly" %}

<div class="dropdown">
  <button class="btn dropdown-toggle" type="button" id="version-selector" data-toggle="dropdown">
    Pick another version 
    <i class="fa fa-caret-down"></i>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="version-selector">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ page.baseurl }}getting-havana">Havana</a></li>
    <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="{{ page.baseurl }}getting-grizzly">Grizzly</a></li>
  </ul>
</div>

{% elsif page.slug == "getting-havana" %}

<div class="dropdown">
  <button class="btn dropdown-toggle" type="button" id="version-selector" data-toggle="dropdown">
    Pick another version
    <i class="fa fa-caret-down"></i>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="version-selector">
    <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="{{ page.baseurl }}getting-havana">Havana</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ page.baseurl }}getting-grizzly">Grizzly</a></li>
  </ul>
</div>
    
{% endif %}