article,aside,details,figcaption,figure,header,hgroup,main,nav,section,summary,.bs-docs-home,.bs-docs-nav,.bs-masthead {
  background: url(http://i40.tinypic.com/31470n7.png) #171717;
}

.bs-docs-home {
  color: #e9eef2;
}

.bs-docs-nav {
  border: none;
  box-shadow: 0 1px 0 rgba(255,255,255,0.05);
}

.bs-docs-nav .navbar-nav > li > a {
  color: #fff;
  line-height: 0;
  margin-top: 0;
  text-shadow: none;
}

.navbar-nav > li {
  float: left;
  margin-top: 20px;
}

.navbar {
  border: none;
}

.btn-lg {
  font-size: 24px;
}

.page-header {
  border-bottom: none;
  margin: 0;
  padding-bottom: 0;
}

.bs-header p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.bs-header {
  background: url(http://i40.tinypic.com/31470n7.png) #474747;
  color: #fff;
  padding: 30px 14px;
  text-shadow: none;
}

.bs-header h1 {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.bs-footer {
  background: transparent;
  border-top: 1px solid #e8e8e8;
  padding-top: 0;
}

.bs-footer a {
  color: #95a5a6;
  text-decoration: none;
}

.bs-masthead-links {
  text-align: left;
}

.bs-masthead h1 {
  font-size: 80px;
}

.bs-masthead .lead {
  color: #e8e8e8;
}

h1[id] {
  margin-top: 20px;
  padding-top: 30px;
}

h1,.h1 {
  font-size: 34px;
  margin-bottom: 10px;
  margin-top: 30px;
  padding-bottom: 10px;
}

h2,.h2 {
  border-bottom: 1px solid #c8c8c8;
  font-size: 26px;
  margin-bottom: 14px;
  padding-top: 14px;
  padding-bottom: 6px;
}

h3,.h3 {
  font-size: 18px;
  font-weight: 700;
  padding-top: 10px;
}

h4,.h4 {
  font-weight: 600;
  margin-top: 20px;
}

table code {
  font-size: 12px;
}

a:hover,a:focus {
  text-decoration: none;
}

/* --- Don't change code colors --- */
code {
  background: #f9f0dc;
  color: #c0392b;
}

.bs-sidenav {
  background: #e8e8e8;
}

.bs-sidebar .nav > li > a {
  color: #474747;
  display: block;
  padding: 4px 20px;
}

.bs-sidebar .nav > li > a:hover,.bs-sidebar .nav > li > a:focus {
  background: #c8c8c8;
  border-right: 1px solid #aeb1b1;
  text-decoration: none;
}

blockquote p {
  color: #747474;
  font-size: 13.5px;
}

li,ul,ol {
  margin-bottom: 4px;
}

.callout {
  background-color: #f4f4f4;
  border-top: #ecf0f1;
  color: #474747;
}

.callout a {
  font-weight: 700;
}

pre {
  font-size: 13.5px;
  line-height: 1.42857;
  color: #fff;
  background-color: #181818;
  border: 1px solid #181818;
  border-radius: 4px;
  margin: 0 0 20px;
}

output pre {
  font-size: 13.5px;
  line-height: 1.42857;
  color: #7f8c8d;
  background-color: #f9f9f9;
  border: 1px solid #ecf0f1;
  border-radius: 4px;
  margin: 0 0 20px;
}

.bs-sidenav {
  text-shadow: none;
}

.lead {
  font-size: 16px;
}

.row .col-lg-6 h2 {
  font-size: 26px;
  border-bottom: none;
  font-weight: 500;
  color: #474747;
}

.row .col-lg-6 h2 a {
  color: #474747;
}

.row .col-lg-6 h2 a:hover,.row .col-lg-6 h2 a:focus {
  color: #197ba8;
}

.row .col-lg-6 p a {
  font-size: 16px;
}

.table thead {
  background-color: #474747;
  border: 1px solid #474747;
}

.table thead > tr > th {
  text-align: center;
  color: #fff;
  border-color: #474747;
}

.navbar-nav > .active > a {
  background-color: transparent;
  border-radius: 6px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a {
  background-image: none;
}
 
.table-bordered > tbody > tr > th, 
.table-bordered > tbody > tr > td
{
  border: 1px solid #c6c6c6;
}

a {
  color: #357aa9;
}

a:hover, a:focus {
  color: #3D6498;
}

/*
*
* Blue          #1b84b5   #197ba8
* Purple        #950ea7   #xxxxxx
* White         #ffffff   #e8e8e8
* Light Gray    #d8d8d8   #c6c6c6
* Gray          #747474   #474747   
* Dark Gray     #292929

New Blue: #357aa9 and #3D6498
*/