<!DOCTYPE html>
<html lang="en">
  <head>
      
      {% include header-page.html %}
  
  </head>
  <body>
      
      {% include nav-main.html %}
    
    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.lead }}</p>
      </div>
    </div>

     <!-- Callout -->
    {% include callout.html %}

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
              
              {% if page.slug == "getting-started" %}
                {% include nav-getting-started.html %}
              {% elsif page.slug == "techical-documents" %}
                {% include nav-technical-documents.html %}
              {% elsif page.slug == "release-notes" %}
                {% include nav-release-notes.html %}
              {% elsif page.slug == "project-page" %}
                {% include nav-project-page.html %}
              {% elsif page.slug == "contributing" %}
                {% include nav-contributing.html %}}
              {% endif %}

            </ul>
          </div>
        </div>
        <div class="col-md-9" role="main">
        
        {{ content }}
        
        </div>
      </div>
    </div>
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        
        <!-- social icons only used on landing pages -->
        {% include footer.html %}
      
      </div>
    </footer>
  </body>
</html>
