<!DOCTYPE html>
<html lang="en">
  <head>
      
      {% include header-page.html %}
  
  </head>
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>
      
      {% include nav-main.html %}
    
    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.lead }}</p>
      </div>
    </div>

      {% include callout.html %}

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
              
              <!-- Main pages -->
              {% if page.slug == "getting-started" %}
                {% include nav-getting-started.html %}
              {% elsif page.slug == "documents" %}
                {% include nav-documents.html %}
              {% elsif page.slug == "notes" %}
                {% include nav-notes.html %}
              {% elsif page.slug == "contributing" %}
                {% include nav-contributing.html %}

              <!-- Getting Started pages -->
              {% elsif page.slug == "chef-openstack" %}
                {% include nav-chef-openstack.html %}
              {% elsif page.slug == "install" %}
                {% include nav-install.html %}
              {% elsif page.slug == "requirements" %}
                {% include nav-requirements.html %}
              {% elsif page.slug == "start-openstack" %}
                {% include nav-start-openstack.html %}
              {% elsif page.slug == "support" %}
                {% include nav-support.html %}
              {% elsif page.slug == "testing-openstack" %}
                {% include nav-testing-openstack.html %}
              {% elsif page.slug == "use-scenario" %}
                {% include nav-use-scenario.html %}
              {% elsif page.slug == "sandbox" %}
                {% include nav-sandbox.html %}
              {% endif %}

            </ul>

            {% if page.slug != "getting-started" %}
              <a button type="button" class="btn btn-default btn-sm" href="../getting-started"><strong>Back to Menu</strong></a>
              <a button type="button" class="btn btn-default btn-sm" href="{{ site.repo }}"><strong>Go to GitHub</strong></a>
            {% endif %}


          </div>
        </div>
        <div class="col-md-9" role="main">
        
      {{ content }}
        
        </div>
      </div>
    </div>
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        
      {% include footer.html %}
      
      </div>
    </footer>
  </body>
</html>
