<!DOCTYPE html>
<html lang="en">
  <head>
      
      {% include header.html %}
  
  </head>
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>
      
      {% include main.html %}
    
    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.lead }}</p>
      </div>
    </div>

    <!--  {% include callout.html %} -->

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
              
              <!-- Main pages -->
              {% if page.slug == "getting-started" %}
                {% include nav-getting-started.html %}
              {% elsif page.slug == "release-notes" %}
                {% include nav-release-notes.html %}
              {% elsif page.slug == "contributing" %}
                {% include nav-contributing.html %}
              {% elsif page.slug == "planning" %}
                {% include nav-planning.html %}

              <!-- Getting Started pages -->
              {% elsif page.slug == "chef-openstack" %}
                {% include nav-chef-openstack.html %}
              {% elsif page.slug == "install-openstack" %}
                {% include nav-install-openstack.html %}
              {% elsif page.slug == "requirements" %}
                {% include nav-requirements.html %}
              {% elsif page.slug == "start-openstack" %}
                {% include nav-start-openstack.html %}
              {% elsif page.slug == "support" %}
                {% include nav-support.html %}
              {% elsif page.slug == "testing-openstack" %}
                {% include nav-testing-openstack.html %}
              {% elsif page.slug == "use-scenario" %}
                {% include nav-use-scenario.html %}
              {% elsif page.slug == "sandbox" %}
                {% include nav-sandbox.html %}
              {% endif %}

            </ul>
          </div>


            <!-- Page toggle -->
          <div class="page-toggle">
            <ul class="pager">
        
            {% if page.slug == "chef-openstack" %}
              <li class="previous disabled"><a href="#">Previous</a></li>
              <li class="next"><a href="../requirements">Next</a></li>
            {% elsif page.slug == "requirements" %}
              <li class="previous"><a href="../chef-openstack">Previous</a></li>
              <li class="next"><a href="../install-openstack">Next</a></li>
            {% elsif page.slug == "install-openstack" %}
              <li class="previous"><a href="../requirements">Previous</a></li>
              <li class="next"><a href="../start-openstack">Next</a></li>
            {% elsif page.slug == "start-openstack" %}
              <li class="previous"><a href="../install-openstack">Previous</a></li>
              <li class="next"><a href="../testing-openstack">Next</a></li>
            {% elsif page.slug == "testing-openstack" %}
              <li class="previous"><a href="../start-openstack">Previous</a></li>
              <li class="next"><a href="../sandbox">Next</a></li>
            {% elsif page.slug == "sandbox" %}
              <li class="previous"><a href="../testing-openstack">Previous</a></li>
              <li class="next"><a href="../use-scenario">Next</a></li>
            {% elsif page.slug == "use-scenario" %}
              <li class="previous"><a href="../sandbox">Previous</a></li>
              <li class="next"><a href="../support">Next</a></li>
            {% elsif page.slug == "support" %}
              <li class="previous"><a href="../use-scenario">Previous</a></li>
              <li class="next disabled"><a href="#">Next</a></li>
            {% endif %}
            
            </ul>
          </div>
        </div>
        <div class="col-md-9" role="main">
        
            {{ content }}
        
        </div>
      </div>
    </div>
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        
      {% include footer.html %}
      
      </div>
    </footer>
  </body>
</html>
