<!DOCTYPE html>
<html lang="en">
  <head>
      
      {% include header.html %}
  
  </head>
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>
      
      {% include main-pages.html %}
    
    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.lead }}</p>
      </div>
    </div>

    <!--  {% include callout.html %} -->

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
              
              <!-- Main pages -->
              {% if page.slug == "getting-started" %}
                {% include nav-getting-started.html %}
              {% elsif page.slug == "release-notes" %}
                {% include nav-release-notes.html %}
              {% elsif page.slug == "contributing" %}
                {% include nav-contributing.html %}
              {% elsif page.slug == "planning" %}
                {% include nav-planning.html %}

              <!-- Havana "Getting Started" pages -->
              {% elsif page.slug == "havana-chef-openstack" %}
                {% include nav-chef-openstack.html %}
              {% elsif page.slug == "havana-install-openstack" %}
                {% include nav-install-openstack.html %}
              {% elsif page.slug == "havana-requirements" %}
                {% include nav-requirements.html %}
              {% elsif page.slug == "havana-start-openstack" %}
                {% include nav-start-openstack.html %}
              {% elsif page.slug == "havana-support" %}
                {% include nav-support.html %}
              {% elsif page.slug == "havana-testing-openstack" %}
                {% include nav-testing-openstack.html %}
              {% elsif page.slug == "havana-use-scenario" %}
                {% include nav-use-scenario.html %}
              {% elsif page.slug == "havana-sandbox" %}
                {% include nav-sandbox.html %}

              <!-- Grizzly "Getting Started" pages -->
              {% elsif page.slug == "grizzly-chef-openstack" %}
                {% include nav-chef-openstack.html %}
              {% elsif page.slug == "grizzly-install-openstack" %}
                {% include nav-install-openstack.html %}
              {% elsif page.slug == "grizzly-requirements" %}
                {% include nav-requirements.html %}
              {% elsif page.slug == "grizzly-start-openstack" %}
                {% include nav-start-openstack.html %}
              {% elsif page.slug == "grizzly-support" %}
                {% include nav-support.html %}
              {% elsif page.slug == "grizzly-testing-openstack" %}
                {% include nav-testing-openstack.html %}
              {% elsif page.slug == "grizzly-use-scenario" %}
                {% include nav-use-scenario.html %}
              {% elsif page.slug == "grizzly-sandbox" %}
                {% include nav-sandbox.html %}
              {% endif %}

            </ul>
          </div>


            <!-- Page toggle -->
          <div class="page-toggle">
            <ul class="pager">
            
            <!-- Havana page toggle -->
            {% if page.slug == "havana-chef-openstack" %}
              <li class="previous disabled"><a href="#">Beginning</a></li>
              <li class="next"><a href="../havana-requirements">Section 2</a></li>
            {% elsif page.slug == "havana-requirements" %}
              <li class="previous"><a href="../havana-chef-openstack">Section 1</a></li>
              <li class="next"><a href="../havana-install-openstack">Section 3</a></li>
            {% elsif page.slug == "havana-install-openstack" %}
              <li class="previous"><a href="../havana-requirements">Section 2</a></li>
              <li class="next"><a href="../havana-start-openstack">Section 4</a></li>
            {% elsif page.slug == "havana-start-openstack" %}
              <li class="previous"><a href="../havana-install-openstack">Section 3</a></li>
              <li class="next"><a href="../havana-testing-openstack">Section 5</a></li>
            {% elsif page.slug == "havana-testing-openstack" %}
              <li class="previous"><a href="../havana-start-openstack">Section 4</a></li>
              <li class="next"><a href="../havana-sandbox">Section 6</a></li>
            {% elsif page.slug == "havana-sandbox" %}
              <li class="previous"><a href="../havana-testing-openstack">Section 5</a></li>
              <li class="next"><a href="../havana-use-scenario">Section 7</a></li>
            {% elsif page.slug == "havana-use-scenario" %}
              <li class="previous"><a href="../havana-sandbox">Section 6</a></li>
              <li class="next"><a href="../havana-support">Section 8</a></li>
            {% elsif page.slug == "havana-support" %}
              <li class="previous"><a href="../havana-use-scenario">Section 7</a></li>
              <li class="next disabled"><a href="#">Fin</a></li>
            {% endif %}

            <!-- Grizzly page toggle -->
            {% if page.slug == "grizzly-chef-openstack" %}
              <li class="previous disabled"><a href="#">Previous</a></li>
              <li class="next"><a href="../grizzly-requirements">Next</a></li>
            {% elsif page.slug == "grizzly-requirements" %}
              <li class="previous"><a href="../grizzly-chef-openstack">Previous</a></li>
              <li class="next"><a href="../grizzly-install-openstack">Next</a></li>
            {% elsif page.slug == "grizzly-install-openstack" %}
              <li class="previous"><a href="../grizzly-requirements">Previous</a></li>
              <li class="next"><a href="../grizzly-start-openstack">Next</a></li>
            {% elsif page.slug == "grizzly-start-openstack" %}
              <li class="previous"><a href="../grizzly-install-openstack">Previous</a></li>
              <li class="next"><a href="../grizzly-testing-openstack">Next</a></li>
            {% elsif page.slug == "grizzly-testing-openstack" %}
              <li class="previous"><a href="../grizzly-start-openstack">Previous</a></li>
              <li class="next"><a href="../grizzly-sandbox">Next</a></li>
            {% elsif page.slug == "grizzly-sandbox" %}
              <li class="previous"><a href="../grizzly-testing-openstack">Previous</a></li>
              <li class="next"><a href="../grizzly-use-scenario">Next</a></li>
            {% elsif page.slug == "grizzly-use-scenario" %}
              <li class="previous"><a href="../grizzly-sandbox">Previous</a></li>
              <li class="next"><a href="../grizzly-support">Next</a></li>
            {% elsif page.slug == "grizzly-support" %}
              <li class="previous"><a href="../grizzly-use-scenario">Previous</a></li>
              <li class="next disabled"><a href="#">Next</a></li>
            {% endif %}
            
            </ul>
          </div>
        </div>
        <div class="col-md-9" role="main">
        
            {{ content }}
        
        </div>
      </div>
    </div>
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        
      {% include footer.html %}
      
      </div>
    </footer>
  </body>
</html>
