<!DOCTYPE html>
<html lang="en">
  <head>
      
    {% include header.html %}
  
  </head>
  <body>
      
    {% include main-pages.html %}

    {% if page.title == "Getting Started" %}
      {% include nav-callout.html %}
    {% endif %}

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
              
              {% if page.slug == "release-notes" %}
                {% include nav-release-notes.html %}
              {% elsif page.slug == "contributing" %}
                {% include nav-contributing.html %}
              {% elsif page.slug == "getting-havana" %}
                {% include nav-getting-started.html %}
              {% elsif page.slug == "getting-grizzly" %}
                {% include nav-getting-started.html %}
              {% endif %}
            
            </ul>
          </div>
        </div>
        <div class="col-md-9" role="main">
          
        {{ content }}
          
        </div>
      </div>
    </div>
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
        
      {% include footer.html %}
      
      </div>
    </footer>
  </body>
</html>